body{
    position: relative;
    background: radial-gradient(circle,  rgba(171, 209, 209, 0.9) 0%, rgba(148,187,233,1) 100%);
}
a{
    text-decoration: none;
    color: #4A90E2;
    font-family: 'Kanit', sans-serif;
    font-size: 24px;
}
.header{
    margin: 30px 0;
}
.container{
    display: flex;
    justify-content: space-between;
}

.logo__img{
    max-width: 60px;
}
.login-btn{
    padding-left: 25px;
    padding-right: 25px;
}

.modal__login,
.modal__doctor{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 45px;
    width: 70%;
    border-radius: 25px;
    background-color: rgba(129, 218, 240, 0.9);
    background: radial-gradient(circle,  rgba(171, 209, 209, 0.9) 0%, rgba(148,187,233,1) 100%);
    position: absolute;
    top: 15%;
    left: 15%;
    box-shadow: 0px 0px 25px 500px rgba(147, 157, 167, 0.9);
    border: 1px solid black;
}
.modal__title{
    display: flex;
    justify-content: space-between;
}
.modal__footer{
    display: flex;
    justify-content: end;
}
.top-15{
    margin-top: 15px;
}


.filter{
    margin: 30px 0;
}
.row{
    margin: 0 auto;
}
.hide{
    display: none;
}
.header-wrapper{
    display: flex;
    flex-wrap: nowrap;
}
.card-title{
    text-align: center;
}
.card__root>.container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: 100%;
    border-radius: 25px;
    background: radial-gradient(circle,  rgba(171, 209, 209, 0.9) 0%, rgba(148,187,233,1) 100%);
    border: 1px solid black;
}
.card__header{
    display: flex;
    justify-content: space-between;
}
.patient__name{
    font-size: 18px;
    font-weight: bold;
}
.patient__doctor{
    font-size: 18px;
    font-weight: 600;
}


